@charset "UTF-8";
h1 {
  font-family: "Poetsen One", sans-serif;
  font-size: 60px;
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 100;
  text-align: center;
}

.botonesbannerbaby-kids {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.botonesbannerbaby-kids .botonesbannersbaby:hover,
.botonesbannerbaby-kids .botonesbannerskids:hover,
.menuCategorias .botonCategorias:hover {
  color: white;
  background-color: black;
}

#logoheaderyfooter {
  width: 150px;
  height: 45px;
  margin-left: 20px;
  margin-right: 30px;
}

ion-icon {
  color: black;
  font-size: 2rem;
  margin-right: 35px;
}

.bannerH2 {
  text-align: left;
  margin-left: 25px;
  margin-bottom: 0;
}

.edades-categorias {
  font-family: monospace;
  text-decoration: none;
  color: black;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.edades-categorias:hover {
  color: #CC2A33;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
header .partesuperior {
  background-color: #CC2A33;
  flex-wrap: wrap;
  text-align: center;
}
header .partesuperior a {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
header .parteinferior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .parteinferior .mitadIzquierdaheader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .parteinferior .mitadDerechaheader {
  margin: 20px;
}

footer {
  margin-top: 20px;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer .footerIzquierdo {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer .footerIzquierdo ul {
  margin-block-end: 0;
}
footer .footerIzquierdo ul li {
  list-style-type: circle;
}
footer .footerIzquierdo ul li .categoriaFooter {
  color: black;
  text-decoration: none;
}
footer .footerIzquierdo ul li .categoriaFooter:hover {
  color: #CC2A33;
}
footer .footerDerecha {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
footer .footerDerecha .afipfooter img {
  width: 120px;
  height: 120px;
}
footer .footerDerecha .redsocialfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.carousel-control-prev {
  justify-content: flex-start;
}

.carousel-control-next {
  justify-content: flex-end;
}

.menuCategorias {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menuCategorias .categoriaMini {
  background-image: url(../assets/mini-beba.png);
  background-size: cover;
  border-radius: 25px;
  width: 310px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.menuCategorias .categoriaBaby {
  background-image: url(../Assets/mini-bebe.png);
  background-size: cover;
  border-radius: 25px;
  width: 310px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.menuCategorias .categoriaEllas {
  background-image: url(../Assets/niña.png);
  background-size: cover;
  border-radius: 25px;
  width: 310px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.menuCategorias .categoriaEllos {
  background-image: url(../Assets/niño.png);
  background-size: cover;
  border-radius: 25px;
  width: 310px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.botonCategorias {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  padding: 15px 45px;
  color: black;
  background-color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 30px;
}

.futuroProducto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.futuroProducto article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.futuroProducto .producto img {
  width: 330px;
  height: 330px;
}

.bannerBaby {
  background-image: url(../Assets/Baby-banner.png);
  background-size: contain;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bannerBaby p {
  margin-left: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}
.bannerBaby .botonesbannersbaby {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  padding: 15px 45px;
  color: black;
  background-color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-inline: 1%;
}

.bannerKids {
  background-image: url(../Assets/Kids-Banner.png);
  background-size: contain;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bannerKids p {
  margin-left: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}
.bannerKids .botonesbannerskids {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  padding: 15px 45px;
  color: black;
  background-color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-inline: 1%;
}

.bannerNosotros img {
  width: 100%;
}

.quienessomos {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 10px;
}
.quienessomos div {
  padding: 25px;
  justify-content: center;
  align-content: center;
}
.quienessomos .izquierda-section-nosotros {
  width: 50%;
  margin: 100px;
}
.quienessomos .izquierda-section-nosotros p {
  text-align: center;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}
.quienessomos .derecha-section-nosotros {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.quienessomos .derecha-section-nosotros img {
  border-radius: 10%;
  width: 50%;
}

.mision p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

form {
  text-align: center;
}
form div {
  margin: 2%;
}

.formulario {
  background-color: #CC2A33;
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgb(2, 0, 36) 0%, rgb(7, 6, 94) 1%, rgb(74, 8, 8) 7%, rgb(204, 42, 51) 66%);
  padding-bottom: 20px;
}

.boton {
  margin-top: 10px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 45px;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 35px;
  }
}
/*RESPONSIVE HEADER*/
@media (max-width: 600px) {
  header .parteinferior .mitadIzquierdaheader {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: white;
    transition: left 0.3s ease;
    z-index: 10;
  }
  .navbar-collapse.show {
    left: 0;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    margin-left: 10px;
  }
  .dropdown-menu {
    --bs-dropdown-border-color: rgba(0, 0, 0 ,0);
  }
}
@media (max-width: 600px) {
  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
@media (min-width: 600px) {
  .btn-close {
    display: none;
  }
}
@media (max-width: 600px) {
  .mitadDerechaheader {
    margin-right: 5px;
    justify-content: center;
    width: 30%;
  }
}
@media (max-width: 600px) {
  ion-icon {
    font-size: 1.75rem;
    margin-right: 5px;
  }
}
/*RESPONSIVE FOOTER*/
@media (max-width: 600px) {
  footer {
    flex-direction: column;
  }
  footer .footerIzquierdo {
    width: 100%;
    margin-top: 10px;
  }
  footer .footerIzquierdo .categoriaFooter {
    font-size: 12px;
  }
  footer .footerDerecha {
    width: 100%;
  }
}
/*RESPONSIVE INDEX-MAIN*/
@media (max-width: 600px) {
  .menuCategorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menuCategorias .categoriaMini {
    background-image: url(../Assets/categoria-cel-mini.png);
    height: 200px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: flex-start;
  }
  .menuCategorias .categoriaBaby {
    background-image: url(../Assets/categoria-cel-baby.png);
    height: 200px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: flex-start;
  }
  .menuCategorias .categoriaEllas {
    background-image: url(../Assets/categoria-cel-niña.png);
    height: 200px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: flex-start;
  }
  .menuCategorias .categoriaEllos {
    background-image: url(../Assets/Categoria-cel-niño.png);
    height: 200px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: flex-start;
  }
}
@media (max-width: 600px) {
  .botonCategorias {
    padding: 10px 25px;
  }
}
@media (max-width: 600px) {
  .futuroProducto {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .futuroProducto .producto img {
    width: 200px;
    height: 200px;
  }
  .producto {
    flex: 0 auto; /* Evita que los elementos se encojan y permite el desplazamiento lateral */
    width: calc(80% - 20px); /* Ajusta el ancho según sea necesario */
    margin-right: 20px; /* Espacio entre elementos */
  }
  .producto:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
  }
}
/*RESPONSIVE KIDS*/
@media (max-width: 600px) {
  .bannerKids {
    background-image: url(../Assets/Banner-kids-cel.png);
    background-size: cover;
    height: 200px;
  }
  .bannerKids .botonesbannerskids {
    padding: 10px 20px;
  }
}
/*RESPONSIVE BABY*/
@media (max-width: 600px) {
  .bannerBaby {
    background-image: url(../Assets/Banner-babys-cel.png);
    height: 200px;
  }
  .bannerBaby .botonesbannersbaby {
    padding: 10px 20px;
    font-size: 10px;
  }
}
/*RESPONSIVE NOSOTROS*/
@media (max-width: 600px) {
  .quienessomos {
    flex-direction: column;
    align-items: center;
  }
  .quienessomos .izquierda-section-nosotros {
    width: 90%;
    margin: 0;
  }
  .quienessomos .izquierda-section-nosotros p {
    font-size: 15px;
    text-align: center;
  }
  .quienessomos .derecha-section-nosotros img {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
