form{
    text-align: center;
    
    div{
    margin: 2%;
    }
}
.formulario{
    background-color: $color-primario;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(7,6,94,1) 1%, rgba(74,8,8,1) 7%, rgba(204,42,51,1) 66%);    padding-bottom: 20px;
}
.boton{
    margin-top: 10px;
}