header{
    background-color: white;
    position: sticky;
    top: 0; 
    z-index: 2;
    display: flex;
    flex-direction: column;
    
    .partesuperior{
        background-color: $color-primario;
        flex-wrap: wrap;
        text-align: center;
        
        a{
            font-family: 'Courier New', Courier, monospace;
            font-size: 15px;
            text-decoration: none;
            color: white;
            text-align: center;
            margin-top:0;
            margin-bottom: 0;
        }
    }
    .parteinferior{
        @include flex(flex, row, space-between, center);

        .mitadIzquierdaheader{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .mitadDerechaheader {
            display: flex;
            justify-content: space-around; /* Distribuye los iconos equitativamente */
            align-items: center; /* Centra los iconos verticalmente */
            margin: 20px;
            box-sizing: border-box;
            padding: 10px;
        }        
    }
}



