.carousel-control-prev{
    justify-content: flex-start ;
}
.carousel-control-next{
    justify-content: flex-end;
}
.menuCategorias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .categoriaMini{
        background-image: url(../assets/mini-beba.png);
        @include fotosCategoria;
    }

    .categoriaBaby{
        background-image: url(../assets/mini-bebe.png);
        @include fotosCategoria;
    }

    .categoriaEllas{
        background-image: url(../assets/niña.png);
        @include fotosCategoria;
    }

    .categoriaEllos{
        background-image: url(../assets/niño.png);
        @include fotosCategoria;
    }
}

.botonCategorias{
    @include botones;
    margin-bottom: 15px; 
    margin-left: 30px;
}
